$bg-color: #141a2f;


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: $bg-color;
}

@mixin animation {
    // animation: loading 400ms linear forwards;
    // animation-name: loading;
    // animation-duration: 400ms;
    // animation-fill-mode: forwards;
    // animation-timing-function: linear;

    @keyframes loading {

        to {
            width: 100%;
        }
    }
}